deb https://packagecloud.io/basho/{% if 'riak-ts' in riak_package %}riak-ts{% else %}riak{% endif %}/{{ ansible_distribution|lower }}/ {{ ansible_distribution_release }} main
deb-src https://packagecloud.io/basho/{% if 'riak-ts' in riak_package %}riak-ts{% else %}riak{% endif %}/{{ ansible_distribution|lower }}/ {{ ansible_distribution_release }} main
