deb https://packagecloud.io/basho/{{ riak_package }}/{{ ansible_distribution|lower }}/ {{ ansible_distribution_release }} main
deb-src https://packagecloud.io/basho/{{ riak_package }}/{{ ansible_distribution|lower }}/ {{ ansible_distribution_release }} main
