#!/bin/bash
#
# {{ ansible_managed }}

{% for disk in riak_physical_disks %}
echo {{ riak_scheduler }} > /sys/block/{{ disk }}/queue/scheduler
echo 1024 > /sys/block/{{ disk }}/queue/nr_requests
{% endfor %}
exit 0
